@keyframes bounceSlow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 3s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradient-move {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-gradient {
  animation: gradient-move 3s linear infinite;
}



/* body {
  font-family: 'Roboto', sans-serif;
} */


